@media (max-width: 1087px) {
  *[class^='mw-ext-'] {
    &[class$='-box'] {
      max-width: unset;

      > div[class$='-body'] {
        display: block;

        > div[class$='-icon'] {
          display: none;
        }
      }
    }
  }
}
